$search-field-height: 30px;

$text-m: 0.9rem;
$text-s: 0.8rem;
$text-xs: 0.7rem;
$bold: bold;

$slate: #48484A;
$teal: #6DC3C3;
$darkTeal: #008080;
$orange: #EC6E4C;

// Margins and Paddings
// $max: 300;
// $offset: 5;
// $unit: "px"; // Feel free to change the unit.

// @mixin list-loop($className, $styleName) {
//   $i: 0;

//   @while $i <=$max {
//     #{$className + $i} {
//       #{$styleName}: #{$i + $unit} !important;
//     }

//     $i: $i + $offset;
//   }
// }


// @import "./variables/_variables";
// @import "./mixins/margins-paddings-radius-name";

// @media #{$breakpoint-lg-only} {
//   // Margins
//   @include list-loop(".mt-", "margin-top");
//   @include list-loop(".mr-", "margin-right");
//   @include list-loop(".mb-", "margin-bottom");
//   @include list-loop(".ml-", "margin-left");
// }

// @media #{$breakpoint-xs-only} {
//   // Margins
//   @include list-loop(".mt-xs-", "margin-top");
//   @include list-loop(".mr-xs-", "margin-right");
//   @include list-loop(".mb-xs-", "margin-bottom");
//   @include list-loop(".ml-xs-", "margin-left");
// }
