// Margins
$max: 100;
$offset: 5;
$unit: "px";

@mixin set-margins($className, $styleName) {
  $i: 0;

  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}