$search-field-height: 30px;

$text-m: 0.9rem;
$text-s: 0.8rem;
$text-xs: 0.7rem;
$bold: bold;
$slate: #48484A;
$teal: #6DC3C3;
$darkTeal: #008080;
$orange: #EC6E4C;

// General styles:

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba($teal, .2);
  color: $slate;
}
/* Read about variable fonts - it's smth modern and interesting :-)  */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Text styles:

.text-m {
  font-size: $text-m;
}

.text-s {
  font-size: $text-s;
}

.text-xs {
  font-size: $text-xs;
}

.text-bold {
  font-weight: bold;
}

// Margins / paddings 

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}


.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

// General alignment

.align-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  width: 85%;
  max-width: 900px;
  margin: 2% auto;
  padding: 1.5rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba($slate, 0.12);
}

.btn {
  border: none;

  &__local {
    border: none;
    // padding: 5px 20px;
    border-radius: 5px;
    height: $search-field-height;
    width: 35px;
    background: no-repeat center/48% url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDYiIGhlaWdodD0iNTgiIHZpZXdCb3g9IjAgMCA0NiA1OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjMuNTM1NCA1Ni4wNTQxQzI3LjkyMjcgNTMuNDExIDMyLjk2MTUgNDcuNzQ3MyAzNi44OTIyIDQxLjQ1MTNDNDAuODE4NCAzNS4xNjI1IDQzLjc1IDI4LjA2NTggNDMuNzUgMjIuNUM0My43NSAxMS4yOTg0IDM0LjQ0MTkgMi4yNSAyMyAyLjI1QzExLjU1ODEgMi4yNSAyLjI1IDExLjI5ODQgMi4yNSAyMi41QzIuMjUgMjguMDY1OCA1LjE4MTY1IDM1LjE2MjUgOS4xMDc4NCA0MS40NTEzQzEzLjAzODUgNDcuNzQ3MyAxOC4wNzczIDUzLjQxMSAyMi40NjQ2IDU2LjA1NDFDMjIuNzk2IDU2LjI1MzggMjMuMjA0IDU2LjI1MzcgMjMuNTM1NCA1Ni4wNTQxWiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48Y2lyY2xlIGN4PSIyMyIgY3k9IjIyIiByPSI4LjI1IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvc3ZnPg==);
    transition: all .5s ease-in-out;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 5px 0 rgba($slate, 0.2);
    }
  }

}

.search-local {
  display: flex;
  justify-content: center;
  // align-items: center;

  @media (max-width: 835px) {
    justify-self: start;
    grid-area: 3 / 1;
  }
}

.search-form {
  // display: flex;
  // position: relative;
  // border-radius: 5px;
  @media (max-width: 835px) {
    grid-area: 4 / 1;
  }

  @media (max-width: 350px) {
    width: 200px;
  }

  &__content {
    display: flex;
    position: relative;
    width: 80%;
    @media (max-width: 835px) {
      width: 90%;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    height: $search-field-height;
    padding: 0 20px;
    // border-radius: 0 5px 5px 0;
    background: no-repeat center/45% url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjEgMzhDMzAuMzg5IDM4IDM4IDMwLjM4OSAzOCAyMUMzOCAxMS42MTEgMzAuMzg5IDQgMjEgNEMxMS42MTEgNCA0IDExLjYxMSA0IDIxQzQgMzAuMzg5IDExLjYxMSAzOCAyMSAzOFoiIHN0cm9rZT0iIzVBNUQ2MyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PHBhdGggZD0iTTI2LjY1NyAxNC4zNDNDMjUuOTE0OSAxMy41OTkgMjUuMDMzMiAxMy4wMDkxIDI0LjA2MjMgMTIuNjA3QzIzLjA5MTUgMTIuMjA0OSAyMi4wNTA4IDExLjk5ODYgMjEgMTJDMTkuOTQ5MiAxMS45OTg2IDE4LjkwODUgMTIuMjA0OSAxNy45Mzc3IDEyLjYwN0MxNi45NjY5IDEzLjAwOTEgMTYuMDg1MSAxMy41OTkgMTUuMzQzIDE0LjM0M00zMy4yMjIgMzMuMjIyTDQxLjcwNyA0MS43MDciIHN0cm9rZT0iIzVBNUQ2MyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
    opacity: .7;
    transition: background-size .5s ease-in-out;
    // background-color: rgba($teal, .7);
    &:hover {
      // background-size: 47%;
      opacity: 1;
    }
  }

  label {
    width: 100%;
  }

  // label:focus-within {
  //   width: 100%;
  // }

  &__input {
  width: 100%;
  padding-left: 10px;
  border: 1px solid rgba($teal, .5);
  border-radius: 5px;
  // border: none;
  position: relative;
  height: $search-field-height;

    &:focus-visible {
      outline: none;
      border: 1px solid rgba($teal, 1);
      
    }
  }

  &__error {
  color: crimson; 
  }
}

input:autofill,
input:autofill:hover, 
input:autofill:focus {
  font-size: 1rem;
  -webkit-text-fill-color: rgba($slate, 1);
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 500s ease-in-out 0s;
}

form:focus-visible {
  outline: none;
}
// .d-none {
//   display: none;
// }

.city-list {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: $search-field-height;
  background: white;
  border-right: 1px solid rgba($teal, .5);
  border-bottom: 1px solid rgba($teal, .5);
  border-left: 1px solid rgba($teal, .5);
  border-radius: 0 0 5px 5px;
  padding: 10px;
  cursor: pointer;

  &__item {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid rgba($teal, 1);

    &:first-child {
      padding-top: 0;
    }

    &:hover {
      background-color: rgba($teal, .1);
    }

    &-location {
      width: 40%;
    }

    &-coords {
      width: 20%;
      // text-align: center;
    }
  }
}

// Units Toggle
.units__toggle {
  justify-self: end;
  display: flex;
  justify-content: space-between;

  @media (max-width: 835px) {
    justify-self: start;
    grid-area: 2 / 1;
  }
}

/* The toggle switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 15px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $teal;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $teal;
}

input:focus + .slider {
  box-shadow: 0 0 1px $teal;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// .units__text {
// }

.weather-display {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;

  .block-left, .block-right {
    width: 50%;
    min-width: 280px;
  }

  .block-right {
    padding-top: 10px;
  }

  .display_location {
    font-size: 1.7rem;
  }

  .display_temperature,
  .display_description {
    font-size: 1.2rem;
  }

  .wind-icon {
  // width: 26px;
  // height: 32px;
  // display: inline-block;
}

  // &.night {
  //   background: linear-gradient(180deg, #40405C 0%, #6F71AA 80%, #8A76AB 100%);
  // }

  // &.day {
  //   background: linear-gradient(180deg, rgba(148, 223, 255, .7) 0%, rgba(220, 242, 251, .7) 100%);
  // }
}


